@import "../../../stylesheets/abstracts/variables.scss";

.news-thumbnail {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  padding-bottom: 2rem;
  position: absolute;
  right: 0;
  top: 0;

  &--news-by-category {
    .news-thumbnail__image {
      height: 75%;
      margin-bottom: 1rem;
      width: 100%;
    }

    .news-thumbnail__title {
      color: $color-black;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  &--popular-news {
    .news-thumbnail__image {
      height: 50%;
      margin-bottom: 2rem;
      width: 100%;
    }

    .news-thumbnail__title {
      color: $color-black;
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .news-thumbnail__subtitle {
      color: $color-black;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &--suggested-news {
    border-bottom: 1px solid $color-black;
    padding-top: 2rem;

    .news-thumbnail__title {
      color: $color-black;
      font-size: 1.8rem;
      font-weight: 400;
    }
  }

  &--top-news {
    justify-content: flex-end;
    overflow: hidden;
    padding-left: 2rem;

    .news-thumbnail__image {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    .news-thumbnail__title {
      color: $color-white;
      font-size: 3.2rem;
      font-weight: 600;
      text-shadow: 0 1rem 1rem $color-black;
    }
  }

  .news-thumbnail__image {
    object-fit: cover;
  }
}
