@import "../../../stylesheets/abstracts/variables.scss";

.news-thumbnail {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  padding-bottom: 2rem;
  position: absolute;
  right: 0;
  top: 0;

  &--top-news {
    justify-content: flex-end;
    overflow: hidden;
    padding-left: 2rem;

    .news-thumbnail__image {
      bottom: 0;
      left: 0;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    .news-thumbnail__title {
      color: $color-white;
      font-size: 3.2rem;
      font-weight: 600;
      text-shadow: 0 1rem 1rem $color-black;
    }
  }
}
