// colors

$color-black: #000000;
$color-blue: #007ee6;
$color-brown: #b98c81;
$color-gray: #9b9b9b;
$color-green: #4cb050;
$color-orange: #fe7D01;
$color-pink: #e528b3;
$color-purple: #9f69d4;
$color-red: #ff5252;
$color-white: #ffffff;
$color-yellow: #febb1e;
