@import "../../../stylesheets/abstracts/variables.scss";

.app-footer {
  background-color: $color-black;
  overflow: auto;
  width: 100%;

  &__content {
    height: 100%;
    margin: 0 auto;
    max-width: 120rem;
    width: 100%;
  }
}
